.App {
  background-color: #f0eee2;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the app take full viewport height */
  overflow: hidden; /* Prevent scrolling on the entire app */
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  top: 10px;
  width: 7rem; /* Adjusted width */
  background-color: #f0eee2; /* Light background color */
  padding: 1rem;
  position: relative;
  flex-shrink: 0;
}
.flex {
  display: flex;
  flex-grow: 1; /* Allow the content area to grow */
  overflow: hidden; /* Prevent overflow on the entire flex container */
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: 0;
  width: 2.2px;
  background-color: #d5d4d4;
}

/* Topbar styling */
.header {
  background: #f0eee2;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0rem;
  top: 5px;
  flex-shrink: 0; /* Ensure header height doesn't shrink */
  z-index: 10;
}

/* Main content area */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 7rem 5rem;
  background-color: #f0eee2;
  overflow-y: auto; /* Allow scrolling only on this area */
  height: calc(100vh - 4rem); /* Subtract header height */
  overflow-x: hidden;
}

.card {
  background: linear-gradient(to bottom, #f8f6ea, #fdfcf7);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.loginRegister-container {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #f0eee2;
  height: 100vh;
  border: 5px solid purple;
}

.btn:hover {
  border: 0.1px solid #007561;
  border-color: #007561;
  background-color: transparent;
  color: #36362e;
  transition: ease-out;
  transition-duration: 500ms;
}
