.App {
  background-color: #f0eee2;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the app take full viewport height */
  overflow-y: scroll;
  /* Prevent scrolling on the entire app */
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  width: 7rem; /* Adjusted width */
  background-color: #f0eee2; /* Light background color */
  padding: 2rem;
  position: absolute;
  z-index: 10;
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: 0;
  width: 2px;
  background-color: #d5d4d4;
}

/* Topbar styling */

/* Main content area */
.main-content {
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem;
  background-color: #f0eee2;
  overflow-y: auto; /* Allow scrolling only on this area */
  height: calc(100vh - 0); /* Subtract header height */
  overflow-x: hidden;
}

.card {
  background: linear-gradient(to bottom, #f8f6ea, #fdfcf7);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  align-items: center;
}

.loginRegister-container {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #f0eee2;
  height: 100vh;
  border: 5px solid purple;
}

.btn:hover {
  border: 0.1px solid #007561;
  border-color: #007561;
  background-color: transparent;
  color: #36362e;
  transition: ease-out;
  transition-duration: 500ms;
}
