.login-container {
  width: 140vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.login-container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffffed 0%, #c3e5ff 150%);
  border-radius: 0 20px 20px 0;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.register-container-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffffed 0%, #c3e5ff 150%);
  border-radius: 20px 0px 0px 20px;
  transition:
    all 0.4s ease-in-out,
    opacity 0.5s ease-in-out !important; /* Add opacity transition */
  position: relative;
  overflow: visible;
  z-index: 1;
}

.login-container input {
  background-color: #c9e7ff;
  border-color: transparent;
  margin: 1rem;
  width: 270px;
  height: 40px;
}

.image-container {
  width: 50%;
  height: 80%;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: transform 1s ease-in-out;
  overflow: visible;
  border-radius: 20px 0px 0px 20px;
}

.image-container img {
  border-radius: 20px 0px 0px 20px !important;
  position: absolute;
  transition: border-radius 1s linear;
  height: 100%;
  width: 100%;
}
.cover {
  transform: translateX(0);
  overflow: visible;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  top: 0;
  left: 0;
  z-index: 3;
  transition:
    transform 1s ease-in-out,
    border-radius 1s linear;
}

.img {
  border-radius: 10px;
}

.moved-image {
  transform: translateX(100%);
  border-radius: 20px 0px 0px 20px; /* Left corners remain rounded */
  border-top-right-radius: 20px; /* Gradually round the top-right corner */
  border-bottom-right-radius: 20px; /* Gradually round the bottom-right corner */
  position: absolute;
  overflow: visible;
  z-index: 10;
  transition:
    transform 1s ease-in-out,
    border-radius 1s linear;
}

.hide {
  opacity: 0;
  position: relative;
}
